body {
    padding: 20px;
}

/* Styles pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/*style pour le header garage*/

.header {
    background-color: #b9b5b5;
    font-family: Arial, sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.banner-text {
    text-align: center; 
}

.slogan {
    font-size: 24px; 
    font-family: 'Arial Black', sans-serif; 
    margin: 0;
    padding: 10px 0; 
    color: rgb(0, 0, 0); 
    text-transform: uppercase; 
}

.contact {
    text-align: right;
    padding-right: 10px;
}

.header p {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
    color: black;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.header a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid gold;
}

/* Fin de style pour le header garage */

/* Styles pour les écrans de taille moyenne  */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; 
        text-align: center; 
    }
    
    .logo {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    
    .slogan {
        font-size: 20px;
    }
    
    .contact {
        text-align: center;
        padding-right: 0;
    }
    
    .header p {
        font-size: 14px;
    }
}

/* Style barre de menu */

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav ul {
    list-style-type: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}
 nav li {
    float: left;
    width: 20%;
    text-align: center;
 }

 nav {
    width: 100%;
    margin: 0 auto;
 }

 nav a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding: 8px 0px;
 }

 nav a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid gold;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
 }

 /* Fin de style pour barre de menu */

 /* Styles pour le formulaire de connexion */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

/* Styles pour les étiquettes des champs */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styles pour les champs de saisie */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styles pour le bouton de soumission */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
